I am going to explore my data files. I need to merge these into one table for modeling.
I will start with ipc_ken_area_long.csv.

In [40]:
#  %cd ..

In [2]:
# Importing libraries
import pandas as pd

df_ipc = pd.read_csv("./data/ipc_ken_area_long.csv")
df_ipc.head()

,Date of analysis,Country,Total country population,Level 1,Area,Validity period,From,To,Phase,Number,Percentage
0,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,all,515000,1.00
1,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3+,103000,0.20
2,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,1,128750,0.25
3,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,2,283250,0.55
4,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3,103000,0.20

In [3]:
df_ipc.head(20)

,Date of analysis,Country,Total country population,Level 1,Area,Validity period,From,To,Phase,Number,Percentage
0,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,all,515000,1.00
1,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3+,103000,0.20
2,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,1,128750,0.25
3,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,2,283250,0.55
4,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3,103000,0.20
5,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,4,0,0.00
6,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,5,0,0.00
7,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,all,515000,1.00
8,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,3+,128750,0.25
9,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,1,103000,0.20
10,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,2,283250,0.55
11,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,3,128750,0.25
12,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,4,0,0.00
13,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,5,0,0.00
14,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,all,733000,1.00
15,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,3+,109950,0.15
16,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,1,219900,0.30
17,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,2,403150,0.55
18,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,3,73300,0.10
19,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,4,36650,0.05

In [4]:
df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date of analysis          4522 non-null   object
 1   Country                   4522 non-null   object
 2   Total country population  4522 non-null   int64
 3   Level 1                   2912 non-null   object
 4   Area                      4522 non-null   object
 5   Validity period           4522 non-null   object
 6   From                      4522 non-null   object
 7   To                        4522 non-null   object
 8   Phase                     4522 non-null   object
 9   Number                    4522 non-null   int64
 10  Percentage                4522 non-null   float64
dtypes: float64(1), int64(2), object(8)
memory usage: 388.7+ KB

Columns to drop = Country( its all Kenyan data),Date of analysis,Total Country population,Level 1, Number.)

In [5]:
df_ipc = df_ipc.drop(['Date of analysis','Country','Total country population','Level 1','Number'], axis=1)
df_ipc.head()

       Area Validity period        From          To Phase  Percentage
0  Marsabit         current  2025-07-01  2025-09-30   all        1.00
1  Marsabit         current  2025-07-01  2025-09-30    3+        0.20
2  Marsabit         current  2025-07-01  2025-09-30     1        0.25
3  Marsabit         current  2025-07-01  2025-09-30     2        0.55
4  Marsabit         current  2025-07-01  2025-09-30     3        0.20

In [6]:
df_ipc = df_ipc[df_ipc['Phase'] == '3+']
df_ipc

            Area   Validity period        From          To Phase  Percentage
1       Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8       Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15       Baringo           current  2025-07-01  2025-09-30    3+        0.15
22       Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29          Embu           current  2025-07-01  2025-09-30    3+        0.05
...          ...               ...         ...         ...   ...         ...
4488     Turkana  first projection  2019-08-01  2019-10-31    3+        0.40
4495       Wajir           current  2019-07-01  2019-07-31    3+        0.25
4502       Wajir  first projection  2019-08-01  2019-10-31    3+        0.30
4509  West pokot           current  2019-07-01  2019-07-31    3+        0.10
4516  West pokot  first projection  2019-08-01  2019-10-31    3+        0.15

[646 rows x 6 columns]

In [7]:
# change percentage column to numeric
df_ipc['Percentage'] = pd.to_numeric(df_ipc['Percentage'], errors = 'coerce')
df_ipc['Percentage'].dtype

dtype('float64')

In [8]:
df_ipc.head(20)

         Area   Validity period        From          To Phase  Percentage
1    Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8    Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15    Baringo           current  2025-07-01  2025-09-30    3+        0.15
22    Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29       Embu           current  2025-07-01  2025-09-30    3+        0.05
36       Embu  first projection  2025-10-01  2026-01-31    3+        0.10
43       Meru           current  2025-07-01  2025-09-30    3+        0.10
50       Meru  first projection  2025-10-01  2026-01-31    3+        0.15
57     Isiolo           current  2025-07-01  2025-09-30    3+        0.10
64     Isiolo  first projection  2025-10-01  2026-01-31    3+        0.15
71     Kilifi           current  2025-07-01  2025-09-30    3+        0.05
78     Kilifi  first projection  2025-10-01  2026-01-31    3+        0.05
85    Makueni           current  2025-07-01  2025-09-30    3+        0.05
92    Makueni  first projection  2025-10-01  2026-01-31    3+        0.10
99   Laikipia           current  2025-07-01  2025-09-30    3+        0.05
106  Laikipia  first projection  2025-10-01  2026-01-31    3+        0.05
113     Kwale           current  2025-07-01  2025-09-30    3+        0.10
120     Kwale  first projection  2025-10-01  2026-01-31    3+        0.10
127   Mandera           current  2025-07-01  2025-09-30    3+        0.30
134   Mandera  first projection  2025-10-01  2026-01-31    3+        0.35

In [9]:
df_ipc

            Area   Validity period        From          To Phase  Percentage
1       Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8       Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15       Baringo           current  2025-07-01  2025-09-30    3+        0.15
22       Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29          Embu           current  2025-07-01  2025-09-30    3+        0.05
...          ...               ...         ...         ...   ...         ...
4488     Turkana  first projection  2019-08-01  2019-10-31    3+        0.40
4495       Wajir           current  2019-07-01  2019-07-31    3+        0.25
4502       Wajir  first projection  2019-08-01  2019-10-31    3+        0.30
4509  West pokot           current  2019-07-01  2019-07-31    3+        0.10
4516  West pokot  first projection  2019-08-01  2019-10-31    3+        0.15

[646 rows x 6 columns]

In [10]:
df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 646 entries, 1 to 4516
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             646 non-null    object
 1   Validity period  646 non-null    object
 2   From             646 non-null    object
 3   To               646 non-null    object
 4   Phase            646 non-null    object
 5   Percentage       646 non-null    float64
dtypes: float64(1), object(5)
memory usage: 35.3+ KB

In [11]:
df_ipc.tail(20)

,Area,Validity period,From,To,Phase,Percentage
4383,Meru,current,2019-07-01,2019-07-31,3+,0.20
4390,Meru,first projection,2019-08-01,2019-10-31,3+,0.25
4397,Narok,current,2019-07-01,2019-07-31,3+,0.00
4404,Narok,first projection,2019-08-01,2019-10-31,3+,0.00
4411,Nyeri,current,2019-07-01,2019-07-31,3+,0.05
4418,Nyeri,first projection,2019-08-01,2019-10-31,3+,0.10
4425,Samburu,current,2019-07-01,2019-07-31,3+,0.25
4432,Samburu,first projection,2019-08-01,2019-10-31,3+,0.30
4439,Taita taveta,current,2019-07-01,2019-07-31,3+,0.10
4446,Taita taveta,first projection,2019-08-01,2019-10-31,3+,0.15
4453,Tana river,current,2019-07-01,2019-07-31,3+,0.30
4460,Tana river,first projection,2019-08-01,2019-10-31,3+,0.35
4467,Tharaka-nithi,current,2019-07-01,2019-07-31,3+,0.20
4474,Tharaka-nithi,first projection,2019-08-01,2019-10-31,3+,0.25
4481,Turkana,current,2019-07-01,2019-07-31,3+,0.35
4488,Turkana,first projection,2019-08-01,2019-10-31,3+,0.40
4495,Wajir,current,2019-07-01,2019-07-31,3+,0.25
4502,Wajir,first projection,2019-08-01,2019-10-31,3+,0.30
4509,West pokot,current,2019-07-01,2019-07-31,3+,0.10
4516,West pokot,first projection,2019-08-01,2019-10-31,3+,0.15

In [12]:
# Standardizing columns
df_ipc['From'] = pd.to_datetime(df_ipc['From'])
df_ipc['Month'] = df_ipc['From'].dt.to_period('M')
df_ipc.head()

,Area,Validity period,From,To,Phase,Percentage,Month
1,Marsabit,current,2025-07-01,2025-09-30,3+,0.20,2025-07
8,Marsabit,first projection,2025-10-01,2026-01-31,3+,0.25,2025-10
15,Baringo,current,2025-07-01,2025-09-30,3+,0.15,2025-07
22,Baringo,first projection,2025-10-01,2026-01-31,3+,0.05,2025-10
29,Embu,current,2025-07-01,2025-09-30,3+,0.05,2025-07

In [13]:
df_ipc[df_ipc['Percentage'] > 0]

,Area,Validity period,From,To,Phase,Percentage,Month
1,Marsabit,current,2025-07-01,2025-09-30,3+,0.20,2025-07
8,Marsabit,first projection,2025-10-01,2026-01-31,3+,0.25,2025-10
15,Baringo,current,2025-07-01,2025-09-30,3+,0.15,2025-07
22,Baringo,first projection,2025-10-01,2026-01-31,3+,0.05,2025-10
29,Embu,current,2025-07-01,2025-09-30,3+,0.05,2025-07
...,...,...,...,...,...,...,...
4488,Turkana,first projection,2019-08-01,2019-10-31,3+,0.40,2019-08
4495,Wajir,current,2019-07-01,2019-07-31,3+,0.25,2019-07
4502,Wajir,first projection,2019-08-01,2019-10-31,3+,0.30,2019-08
4509,West pokot,current,2019-07-01,2019-07-31,3+,0.10,2019-07
4516,West pokot,first projection,2019-08-01,2019-10-31,3+,0.15,2019-08

In [14]:
# add target column 
df_ipc['in_Phase3+'] = (df_ipc['Percentage'] >= 0).astype(int)
df_ipc

,Area,Validity period,From,To,Phase,Percentage,Month,in_Phase3+
1,Marsabit,current,2025-07-01,2025-09-30,3+,0.20,2025-07,1
8,Marsabit,first projection,2025-10-01,2026-01-31,3+,0.25,2025-10,1
15,Baringo,current,2025-07-01,2025-09-30,3+,0.15,2025-07,1
22,Baringo,first projection,2025-10-01,2026-01-31,3+,0.05,2025-10,1
29,Embu,current,2025-07-01,2025-09-30,3+,0.05,2025-07,1
...,...,...,...,...,...,...,...,...
4488,Turkana,first projection,2019-08-01,2019-10-31,3+,0.40,2019-08,1
4495,Wajir,current,2019-07-01,2019-07-31,3+,0.25,2019-07,1
4502,Wajir,first projection,2019-08-01,2019-10-31,3+,0.30,2019-08,1
4509,West pokot,current,2019-07-01,2019-07-31,3+,0.10,2019-07,1
4516,West pokot,first projection,2019-08-01,2019-10-31,3+,0.15,2019-08,1

In [15]:
df_ipc = df_ipc.drop(['Validity period','From','To'],axis=1)
df_ipc

            Area Phase  Percentage    Month  in_Phase3+
1       Marsabit    3+        0.20  2025-07           1
8       Marsabit    3+        0.25  2025-10           1
15       Baringo    3+        0.15  2025-07           1
22       Baringo    3+        0.05  2025-10           1
29          Embu    3+        0.05  2025-07           1
...          ...   ...         ...      ...         ...
4488     Turkana    3+        0.40  2019-08           1
4495       Wajir    3+        0.25  2019-07           1
4502       Wajir    3+        0.30  2019-08           1
4509  West pokot    3+        0.10  2019-07           1
4516  West pokot    3+        0.15  2019-08           1

[646 rows x 5 columns]

In [16]:
df_ipc.duplicated().sum()

np.int64(0)

Exploring ipcphase data which contains older ipc data.

In [17]:
ipc = pd.read_excel('./data/ipcphase.xlsx')
ipc.head()

,row,source_organization,source_document,country,country_code,geographic_group,fewsnet_region,geographic_unit_full_name,geographic_unit_name,unit_type,...,specialization_type,dataseries_specialization_type,data_usage_policy,created,modified,status_changed,collection_status,collection_status_changed,collection_schedule,reporting_date
0,0,FEWS NET,"Food Security Outlook, Kenya",Kenya,KE,Eastern Africa,East Africa,"Aberdare Forest1, Murang'a, Central, Kenya",Aberdare Forest1,fsc_admin,...,/IPCPhase/,/IPCClassification/,Public,2020-11-25T18:47:21,2020-11-25T18:47:21,2020-11-25T18:53:10,Published,2021-01-05T21:16:32,Ad Hoc,2011-07-01
1,1,FEWS NET,"Food Security Outlook, Kenya",Kenya,KE,Eastern Africa,East Africa,"Aberdare Forest1, Murang'a, Central, Kenya",Aberdare Forest1,fsc_admin,...,/IPCPhase/,/IPCClassification/,Public,2020-11-25T18:47:21,2020-11-25T18:47:21,2020-11-25T18:53:10,Published,2021-01-05T21:16:32,Ad Hoc,2011-10-01
2,2,FEWS NET,"Food Security Outlook, Kenya",Kenya,KE,Eastern Africa,East Africa,"Aberdare Forest1, Murang'a, Central, Kenya",Aberdare Forest1,fsc_admin,...,/IPCPhase/,/IPCClassification/,Public,2020-11-25T18:47:21,2020-11-25T18:47:21,2020-11-25T18:53:10,Published,2021-01-05T21:16:32,Ad Hoc,2012-01-01
3,3,FEWS NET,"Food Security Outlook, Kenya",Kenya,KE,Eastern Africa,East Africa,"Aberdare Forest1, Murang'a, Central, Kenya",Aberdare Forest1,fsc_admin,...,/IPCPhase/,/IPCClassification/,Public,2020-11-25T18:47:21,2020-11-25T18:47:21,2020-11-25T18:53:10,Published,2021-01-05T21:16:32,Ad Hoc,2012-04-01
4,4,FEWS NET,"Food Security Outlook, Kenya",Kenya,KE,Eastern Africa,East Africa,"Aberdare Forest1, Murang'a, Central, Kenya",Aberdare Forest1,fsc_admin,...,/IPCPhase/,/IPCClassification/,Public,2020-11-25T18:47:21,2020-11-25T18:47:21,2020-11-25T18:53:10,Published,2021-01-05T21:16:31,Ad Hoc,2012-07-01

In [18]:
# taking only relevant columns
ipc = ipc[['geographic_unit_full_name','projection_start','projection_end','value']].copy()
ipc.head()

,geographic_unit_full_name,projection_start,projection_end,value
0,"Aberdare Forest1, Murang'a, Central, Kenya",2011-07-01,2011-07-31,1.0
1,"Aberdare Forest1, Murang'a, Central, Kenya",2011-10-01,2011-10-31,1.0
2,"Aberdare Forest1, Murang'a, Central, Kenya",2012-01-01,2012-01-31,1.0
3,"Aberdare Forest1, Murang'a, Central, Kenya",2012-04-01,2012-04-30,1.0
4,"Aberdare Forest1, Murang'a, Central, Kenya",2012-07-01,2012-07-31,1.0

In [19]:
# clean geographic column
ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27052 entries, 0 to 27051
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   geographic_unit_full_name  27052 non-null  object
 1   projection_start           27052 non-null  object
 2   projection_end             27052 non-null  object
 3   value                      27052 non-null  float64
dtypes: float64(1), object(3)
memory usage: 845.5+ KB

In [20]:
ipc['Area'] = ipc['geographic_unit_full_name'].str.split(',').str[1].str.strip()
ipc.head(25)

,geographic_unit_full_name,projection_start,projection_end,value,Area
0,"Aberdare Forest1, Murang'a, Central, Kenya",2011-07-01,2011-07-31,1.0,Murang'a
1,"Aberdare Forest1, Murang'a, Central, Kenya",2011-10-01,2011-10-31,1.0,Murang'a
2,"Aberdare Forest1, Murang'a, Central, Kenya",2012-01-01,2012-01-31,1.0,Murang'a
3,"Aberdare Forest1, Murang'a, Central, Kenya",2012-04-01,2012-04-30,1.0,Murang'a
4,"Aberdare Forest1, Murang'a, Central, Kenya",2012-07-01,2012-07-31,1.0,Murang'a
5,"Aberdare Forest1, Murang'a, Central, Kenya",2012-10-01,2012-10-31,1.0,Murang'a
6,"Aberdare Forest1, Murang'a, Central, Kenya",2013-01-01,2013-01-31,1.0,Murang'a
7,"Aberdare Forest1, Murang'a, Central, Kenya",2013-04-01,2013-04-30,1.0,Murang'a
8,"Aberdare Forest1, Murang'a, Central, Kenya",2013-07-01,2013-07-31,1.0,Murang'a
9,"Aberdare Forest1, Murang'a, Central, Kenya",2013-10-01,2013-10-31,1.0,Murang'a
10,"Aberdare Forest1, Murang'a, Central, Kenya",2014-01-01,2014-01-31,1.0,Murang'a
11,"Aberdare Forest1, Murang'a, Central, Kenya",2014-04-01,2014-04-30,1.0,Murang'a
12,"Aberdare Forest1, Murang'a, Central, Kenya",2014-07-01,2014-07-31,1.0,Murang'a
13,"Aberdare Forest1, Murang'a, Central, Kenya",2014-10-01,2014-10-31,1.0,Murang'a
14,"Aberdare Forest1, Murang'a, Central, Kenya",2015-01-01,2015-01-31,1.0,Murang'a
15,"Aberdare Forest1, Murang'a, Central, Kenya",2015-04-01,2015-04-30,1.0,Murang'a
16,"Aberdare Forest1, Murang'a, Central, Kenya",2015-07-01,2015-07-31,1.0,Murang'a
17,"Aberdare Forest1, Murang'a, Central, Kenya",2015-10-01,2015-10-31,1.0,Murang'a
18,"Aberdare Forest1, Murang'a, Central, Kenya",2016-02-01,2016-02-29,1.0,Murang'a
19,"Aberdare Forest, Nyeri, Central, Kenya",2011-07-01,2011-07-31,1.0,Nyeri
20,"Aberdare Forest, Nyeri, Central, Kenya",2011-10-01,2011-10-31,1.0,Nyeri
21,"Aberdare Forest, Nyeri, Central, Kenya",2012-01-01,2012-01-31,1.0,Nyeri
22,"Aberdare Forest, Nyeri, Central, Kenya",2012-04-01,2012-04-30,1.0,Nyeri
23,"Aberdare Forest, Nyeri, Central, Kenya",2012-07-01,2012-07-31,1.0,Nyeri
24,"Aberdare Forest, Nyeri, Central, Kenya",2012-10-01,2012-10-31,1.0,Nyeri

In [21]:
ipc['Area'].value_counts().tail(10)

Area
Teso North       27
Teso South       27
Webuye West      27
Eastern          26
Nyanza           24
Kenya            18
Western          16
Central          14
Coast            14
North Eastern     8
Name: count, dtype: int64

In [22]:
mask = ipc['Area'].isin(['High Potential Zone','Mixed Farming Zone','North Mugirango','Nyaribari Chache',   
'Nyaribari Masaba','Gilgil','Sigowet/Soin','Sirisia','Sotik','South Mugirango','Bahati','Endebess','Njoro',
'Nakuru Town East',"Nakuru Town West","Ol Kalou","Subukia",'Alego Usonga','Ugunja','Ugenya','Webuye East','Webuye West'])

ipc.loc[mask, 'Area'] = (
    ipc.loc[mask, 'geographic_unit_full_name']
    .str.rsplit(',', n=2)
    .str[-2]
    .str.strip()
)

In [23]:
mask2 = ipc['Area'].isin([
    'Western','Kenya','Eastern','Central','Coast','Nyanza'])

ipc.loc[mask2,'Area'] = (ipc.loc[mask, 'geographic_unit_full_name']
        .str.split(',')
        .str[0]
        .str.strip())

In [24]:
ipc = ipc[['Area'] + [c for c in ipc.columns if c != 'Area']]
ipc.head()

,Area,geographic_unit_full_name,projection_start,projection_end,value
0,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-07-01,2011-07-31,1.0
1,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-10-01,2011-10-31,1.0
2,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-01-01,2012-01-31,1.0
3,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-04-01,2012-04-30,1.0
4,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-07-01,2012-07-31,1.0

In [25]:
ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27052 entries, 0 to 27051
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area                       26940 non-null  object
 1   geographic_unit_full_name  27052 non-null  object
 2   projection_start           27052 non-null  object
 3   projection_end             27052 non-null  object
 4   value                      27052 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.0+ MB

In [26]:
ipc['projection_start'] = pd.to_datetime(ipc['projection_start'])
ipc['Month'] = ipc['projection_start'].dt.to_period('M')
ipc['in_Phase3+'] = (ipc['value'] >= 3).astype(int)
ipc.head()

,Area,geographic_unit_full_name,projection_start,projection_end,value,Month,in_Phase3+
0,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-07-01,2011-07-31,1.0,2011-07,0
1,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-10-01,2011-10-31,1.0,2011-10,0
2,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-01-01,2012-01-31,1.0,2012-01,0
3,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-04-01,2012-04-30,1.0,2012-04,0
4,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-07-01,2012-07-31,1.0,2012-07,0

In [27]:
ipc.duplicated().sum()

np.int64(0)

In [28]:
# inspecting duplicated rows
duplicated_mask = ipc.duplicated(subset=['Area','Month'], keep = False)
ipc[duplicated_mask]

,Area,geographic_unit_full_name,projection_start,projection_end,value,Month,in_Phase3+
0,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-07-01,2011-07-31,1.0,2011-07,0
1,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2011-10-01,2011-10-31,1.0,2011-10,0
2,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-01-01,2012-01-31,1.0,2012-01,0
3,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-04-01,2012-04-30,1.0,2012-04,0
4,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",2012-07-01,2012-07-31,1.0,2012-07,0
...,...,...,...,...,...,...,...
27047,Machakos,"Yatta, Machakos, Eastern, Kenya",2015-01-01,2015-01-31,1.0,2015-01,0
27048,Machakos,"Yatta, Machakos, Eastern, Kenya",2015-04-01,2015-04-30,1.0,2015-04,0
27049,Machakos,"Yatta, Machakos, Eastern, Kenya",2015-07-01,2015-07-31,1.0,2015-07,0
27050,Machakos,"Yatta, Machakos, Eastern, Kenya",2015-10-01,2015-10-31,1.0,2015-10,0
27051,Machakos,"Yatta, Machakos, Eastern, Kenya",2016-02-01,2016-02-29,1.0,2016-02,0

In [29]:
ipc = ipc.drop(['projection_start','projection_end'],axis=1)

In [30]:
# Merging ipc and df_ipc
ipc_merged = ipc.merge(df_ipc,on=['Area','Month'],
                how='left',
                suffixes=['all','_r'])

In [31]:
ipc_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27052 entries, 0 to 27051
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area                       26940 non-null  object
 1   geographic_unit_full_name  27052 non-null  object
 2   value                      27052 non-null  float64
 3   Month                      27052 non-null  period[M]
 4   in_Phase3+all              27052 non-null  int64
 5   Phase                      251 non-null    object
 6   Percentage                 251 non-null    float64
 7   in_Phase3+_r               251 non-null    float64
dtypes: float64(3), int64(1), object(3), period[M](1)
memory usage: 1.7+ MB

In [32]:
ipc_merged = ipc_merged.drop(['in_Phase3+_r','Percentage','Phase'],axis=1)
ipc_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27052 entries, 0 to 27051
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area                       26940 non-null  object
 1   geographic_unit_full_name  27052 non-null  object
 2   value                      27052 non-null  float64
 3   Month                      27052 non-null  period[M]
 4   in_Phase3+all              27052 non-null  int64
dtypes: float64(1), int64(1), object(2), period[M](1)
memory usage: 1.0+ MB

In [33]:
ipc_merged.isna().sum()

Area                         112
geographic_unit_full_name      0
value                          0
Month                          0
in_Phase3+all                  0
dtype: int64

In [34]:
ipc_merged[ipc_merged['Area'].isna()]

      Area geographic_unit_full_name  value    Month  in_Phase3+all
612    NaN      Bondo, Nyanza, Kenya    1.0  2011-01              0
613    NaN      Bondo, Nyanza, Kenya    1.0  2011-04              0
709    NaN   Bungoma, Western, Kenya    1.0  2011-01              0
710    NaN   Bungoma, Western, Kenya    1.0  2011-04              0
789    NaN     Busia, Western, Kenya    1.0  2011-01              0
...    ...                       ...    ...      ...            ...
21125  NaN   Tharaka, Eastern, Kenya    2.0  2011-04              0
21126  NaN     Thika, Central, Kenya    1.0  2011-01              0
21127  NaN     Thika, Central, Kenya    1.0  2011-04              0
21887  NaN    Vihiga, Western, Kenya    1.0  2011-01              0
21888  NaN    Vihiga, Western, Kenya    1.0  2011-04              0

[112 rows x 5 columns]

In [35]:
ipc_merged = ipc_merged.dropna(subset=['Area'])

In [36]:
ipc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26940 entries, 0 to 27051
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area                       26940 non-null  object
 1   geographic_unit_full_name  26940 non-null  object
 2   value                      26940 non-null  float64
 3   Month                      26940 non-null  period[M]
 4   in_Phase3+all              26940 non-null  int64
dtypes: float64(1), int64(1), object(2), period[M](1)
memory usage: 1.2+ MB

In [37]:
ipc_merged.rename(columns={'Area':'County','value':'IPC', 'in_Phase3+all':'in_Phase3+'},
                  inplace=True)
ipc_merged.head()

,County,geographic_unit_full_name,IPC,Month,in_Phase3+
0,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",1.0,2011-07,0
1,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",1.0,2011-10,0
2,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",1.0,2012-01,0
3,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",1.0,2012-04,0
4,Murang'a,"Aberdare Forest1, Murang'a, Central, Kenya",1.0,2012-07,0

In [38]:
ipc_merged['County'].value_counts()

County
Nairobi          640
Makueni          477
Kiambu           473
Nakuru           466
Machakos         398
                ...
Tongaren          27
Tinderet          27
Teso South        27
Teso North        27
North Eastern      8
Name: count, Length: 423, dtype: int64

In [41]:
ipc_merged.to_csv('./data/cleaned_ipc.csv',index=False)