I am going to explore my data files. I need to merge these into one table for modeling.
I will start with ipc_ken_area_long.csv.

In [ ]:
# %cd ..

c:\Users\valar\Documents\Flatiron\Assignments\PHASE-5-PROJECT---PREDICTING-FOOD-INSECURITY

In [6]:
# Importing libraries
import pandas as pd

df_ipc = pd.read_csv("./data/ipc_ken_area_long.csv")
df_ipc.head()

,Date of analysis,Country,Total country population,Level 1,Area,Validity period,From,To,Phase,Number,Percentage
0,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,all,515000,1.00
1,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3+,103000,0.20
2,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,1,128750,0.25
3,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,2,283250,0.55
4,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3,103000,0.20

In [10]:
df_ipc.head(20)

,Date of analysis,Country,Total country population,Level 1,Area,Validity period,From,To,Phase,Number,Percentage
0,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,all,515000,1.00
1,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3+,103000,0.20
2,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,1,128750,0.25
3,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,2,283250,0.55
4,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,3,103000,0.20
5,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,4,0,0.00
6,Jul 2025,KEN,16617000,Others,Marsabit,current,2025-07-01,2025-09-30,5,0,0.00
7,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,all,515000,1.00
8,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,3+,128750,0.25
9,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,1,103000,0.20
10,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,2,283250,0.55
11,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,3,128750,0.25
12,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,4,0,0.00
13,Jul 2025,KEN,16617000,Others,Marsabit,first projection,2025-10-01,2026-01-31,5,0,0.00
14,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,all,733000,1.00
15,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,3+,109950,0.15
16,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,1,219900,0.30
17,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,2,403150,0.55
18,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,3,73300,0.10
19,Jul 2025,KEN,16617000,Others,Baringo,current,2025-07-01,2025-09-30,4,36650,0.05

In [7]:
df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date of analysis          4522 non-null   object
 1   Country                   4522 non-null   object
 2   Total country population  4522 non-null   int64
 3   Level 1                   2912 non-null   object
 4   Area                      4522 non-null   object
 5   Validity period           4522 non-null   object
 6   From                      4522 non-null   object
 7   To                        4522 non-null   object
 8   Phase                     4522 non-null   object
 9   Number                    4522 non-null   int64
 10  Percentage                4522 non-null   float64
dtypes: float64(1), int64(2), object(8)
memory usage: 388.7+ KB

Columns to drop = Country( its all Kenyan data),Date of analysis,Total Country population,Level 1, Number.)

In [11]:
df_ipc = df_ipc.drop(['Date of analysis','Country','Total country population','Level 1','Number'], axis=1)
df_ipc.head()

       Area Validity period        From          To Phase  Percentage
0  Marsabit         current  2025-07-01  2025-09-30   all        1.00
1  Marsabit         current  2025-07-01  2025-09-30    3+        0.20
2  Marsabit         current  2025-07-01  2025-09-30     1        0.25
3  Marsabit         current  2025-07-01  2025-09-30     2        0.55
4  Marsabit         current  2025-07-01  2025-09-30     3        0.20

In [14]:
df_ipc = df_ipc[df_ipc['Phase'] == '3+']
df_ipc

            Area   Validity period        From          To Phase  Percentage
1       Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8       Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15       Baringo           current  2025-07-01  2025-09-30    3+        0.15
22       Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29          Embu           current  2025-07-01  2025-09-30    3+        0.05
...          ...               ...         ...         ...   ...         ...
4488     Turkana  first projection  2019-08-01  2019-10-31    3+        0.40
4495       Wajir           current  2019-07-01  2019-07-31    3+        0.25
4502       Wajir  first projection  2019-08-01  2019-10-31    3+        0.30
4509  West pokot           current  2019-07-01  2019-07-31    3+        0.10
4516  West pokot  first projection  2019-08-01  2019-10-31    3+        0.15

[646 rows x 6 columns]

In [17]:
# change percentage column to numeric
df_ipc['Percentage'] = pd.to_numeric(df_ipc['Percentage'], errors = 'coerce')
df_ipc['Percentage'].dtype

<ipython-input-17-f5c9b19daf99>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ipc['Percentage'] = pd.to_numeric(df_ipc['Percentage'], errors = 'coerce')

dtype('float64')

In [19]:
df_ipc.head(20)

         Area   Validity period        From          To Phase  Percentage
1    Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8    Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15    Baringo           current  2025-07-01  2025-09-30    3+        0.15
22    Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29       Embu           current  2025-07-01  2025-09-30    3+        0.05
36       Embu  first projection  2025-10-01  2026-01-31    3+        0.10
43       Meru           current  2025-07-01  2025-09-30    3+        0.10
50       Meru  first projection  2025-10-01  2026-01-31    3+        0.15
57     Isiolo           current  2025-07-01  2025-09-30    3+        0.10
64     Isiolo  first projection  2025-10-01  2026-01-31    3+        0.15
71     Kilifi           current  2025-07-01  2025-09-30    3+        0.05
78     Kilifi  first projection  2025-10-01  2026-01-31    3+        0.05
85    Makueni           current  2025-07-01  2025-09-30    3+        0.05
92    Makueni  first projection  2025-10-01  2026-01-31    3+        0.10
99   Laikipia           current  2025-07-01  2025-09-30    3+        0.05
106  Laikipia  first projection  2025-10-01  2026-01-31    3+        0.05
113     Kwale           current  2025-07-01  2025-09-30    3+        0.10
120     Kwale  first projection  2025-10-01  2026-01-31    3+        0.10
127   Mandera           current  2025-07-01  2025-09-30    3+        0.30
134   Mandera  first projection  2025-10-01  2026-01-31    3+        0.35

In [20]:
df_ipc

            Area   Validity period        From          To Phase  Percentage
1       Marsabit           current  2025-07-01  2025-09-30    3+        0.20
8       Marsabit  first projection  2025-10-01  2026-01-31    3+        0.25
15       Baringo           current  2025-07-01  2025-09-30    3+        0.15
22       Baringo  first projection  2025-10-01  2026-01-31    3+        0.05
29          Embu           current  2025-07-01  2025-09-30    3+        0.05
...          ...               ...         ...         ...   ...         ...
4488     Turkana  first projection  2019-08-01  2019-10-31    3+        0.40
4495       Wajir           current  2019-07-01  2019-07-31    3+        0.25
4502       Wajir  first projection  2019-08-01  2019-10-31    3+        0.30
4509  West pokot           current  2019-07-01  2019-07-31    3+        0.10
4516  West pokot  first projection  2019-08-01  2019-10-31    3+        0.15

[646 rows x 6 columns]

In [18]:
df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 646 entries, 1 to 4516
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             646 non-null    object
 1   Validity period  646 non-null    object
 2   From             646 non-null    object
 3   To               646 non-null    object
 4   Phase            646 non-null    object
 5   Percentage       646 non-null    float64
dtypes: float64(1), object(5)
memory usage: 35.3+ KB

In [ ]:
df_ipc['in_Phase3+'] = df_ipc['Percenta'].apply

AttributeError: 'Series' object has no attribute 'info'